test/test_instance.yml
id: test_instance
namespace: company.team

tasks:
  - id: hello
    type: io.kestra.plugin.core.log.Log
    message: Hello World! 🚀
    
  - id: process_write_file
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner: 
      type: io.kestra.plugin.core.runner.Process
    commands:
      - echo "hi from process" > process.txt
    outputFiles:
      - process.txt

  - id: docker_write_file
    type: io.kestra.plugin.scripts.shell.Commands
    commands:
      - echo "hi from docker" > docker.txt
    outputFiles:
      - docker.txt

  - id: read_files
    type: io.kestra.plugin.scripts.shell.Commands
    inputFiles:
      process.txt: "{{ outputs.process_write_file.outputFiles['process.txt'] }}"
      docker.txt: "{{ outputs.docker_write_file.outputFiles['docker.txt'] }}"
    commands:
      - cat process.txt
      - cat docker.txt

  - id: write_output
    type: io.kestra.plugin.core.debug.Return
    format: This is an output

  - id: add_kv_store
    type: io.kestra.plugin.core.kv.Set
    key: example
    kvType: STRING
    value: value

  - id: log_kv
    type: io.kestra.plugin.core.log.Log
    message: "This is from the KV Store: {{ kv('example') }}"

  - id: create_ns_file
    type: io.kestra.plugin.core.namespace.UploadFiles
    filesMap: "{{ outputs.process_write_file.outputFiles }}"
    namespace: "{{ flow.namespace }}"

  - id: read_ns_file
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner: 
      type: io.kestra.plugin.core.runner.Process
    namespaceFiles:
      enabled: true
    commands:
      - cat process.txt

  - id: delete_ns_file
    type: io.kestra.plugin.core.namespace.DeleteFiles
    namespace: "{{ flow.namespace }}"
    files:
      - "**"

