demo/ai-approval/chatgpt_demo.yml
id: chatgpt_demo
namespace: dev

inputs:
  - id: prompt
    type: STRING
    description: Give the product a review
    defaults: I love your product and would purchase it again!

variables:
  slack_webhook_general_uri: "https://hooks.slack.com/services/WEBHOOK
  slack_webhook_test_uri: "https://hooks.slack.com/services/WEBHOOK

tasks:
  - id: prioritize_response
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "APIKEY±"
    model: gpt-4
    messages:
      - role: user
        content: "{{ inputs.prompt}}"
    functions:
      - name: respond_to_review
        description: Given the customer product review provided as input, determines how urgently a reply is required and then provides suggested response text.
        parameters:
          - name: response_text
            type: string
            description: The text to post online in response to this review.
            required: true

  - id: send_response
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ vars.slack_webhook_test_uri }}"
    payload: |
      {
        "channel": "#flow-test",
        "text": "Response: '{{ outputs.prioritize_response.choices[0].message.function_call.arguments.response_text }}'. Validate ChatGPT text: http://localhost:8082/ui/executions/{{flow.namespace}}/{{flow.id}}/{{execution.id}}"
      }

  - id: wait_for_approval
    type: io.kestra.plugin.core.flow.Pause
    onResume:
      - id: confirm
        description: Are you happy with the response?
        type: BOOLEAN

  - id: checkState
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.wait_for_approval.onResume.confirm }}"
    then:
      - id: send_final_response
        type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
        url: "{{ vars.slack_webhook_general_uri }}"
        payload: |
          {
            "channel": "#general",
            "text": "{{ outputs.prioritize_response.choices[0].message.function_call.arguments.response_text }}"
          }
    else:
      - id: log_disaproved_response
        type: io.kestra.plugin.core.log.Log
        message: "Response not sent as it was not approved: '{{ outputs.prioritize_response.choices[0].message.function_call.arguments.response_text }}'."

