data-warehouse/data_warehouse.yml
id: data_warehouse
namespace: zoomcamp

inputs:
  - id: year
    type: SELECT
    displayName: Select year
    values: ["2024", "2025"]
    defaults: "2025"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "yellow_tripdata_{{inputs.year}}-{{inputs.month}}.parquet"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_PROJECT_ID')}}.wrussell.demo"

tasks:
  - id: extract
    type: io.kestra.plugin.core.http.Download
    uri: "https://d37ci6vzurychx.cloudfront.net/trip-data/{{render(vars.file)}}"

  - id: upload_to_data_lake
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.extract.uri }}"
    to: "{{ render(vars.gcs_file) }}"

  - id: load_into_bigquery
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from:
      - "{{ render(vars.gcs_file) }}"
    destinationTable: "{{ render(vars.table) }}"
    format: PARQUET
    writeDisposition: WRITE_TRUNCATE

  - id: transform
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: | 
      ALTER TABLE `{{render(vars.table)}}`
      ADD COLUMN IF NOT EXISTS unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
      ADD COLUMN IF NOT EXISTS filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.');
      UPDATE `{{render(vars.table)}}`
      SET 
        unique_row_id = MD5(CONCAT(
            COALESCE(CAST(VendorID AS STRING), ""),
            COALESCE(CAST(tpep_pickup_datetime AS STRING), ""),
            COALESCE(CAST(tpep_dropoff_datetime AS STRING), ""),
            COALESCE(CAST(PULocationID AS STRING), ""),
            COALESCE(CAST(DOLocationID AS STRING), "")
        )),
        filename = '{{render(vars.file)}}'
      WHERE unique_row_id IS NULL;

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GOOGLE_SA', 'company.team')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

