advent-2025/10_advent_s3.yml
id: 10_advent
namespace: advent

tasks:
  - id: extract
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: transform
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
      - pandas
    inputFiles:
      orders.csv: "{{ outputs.extract.uri }}"
    outputFiles:
      - processed_orders.csv
    script: |
      from kestra import Kestra
      import pandas as pd

      df = pd.read_csv('orders.csv')
      df['order_category'] = pd.cut(df['total'],
                                    bins=[0, 50, 150, float('inf')],
                                    labels=['Small', 'Medium', 'Large'])
      df.to_csv('processed_orders.csv', index=False)
  
  - id: load
    type: io.kestra.plugin.aws.s3.Upload
    region: eu-west-2
    bucket: kestra-advent
    key: "processed_orders.csv"
    from: "{{ outputs.transform.outputFiles['processed_orders.csv'] }}"
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_KEY_ID') }}"