demo/generate_ai_img.yml
id: generate_ai_img
namespace: demo

inputs:
  - id: image_prompt
    type: STRING

variables:
  discord_prompt_webhook: "https://discord.com/api/webhooks/"
  discord_announcement_webhook: "https://discord.com/api/webhooks/"

tasks:
  - id: gen_image
    type: io.kestra.plugin.core.flow.Subflow
    namespace: demo
    flowId: generate_image
    inputs:
      openai_prompt: "{{ inputs.image_prompt }}"

  - id: send_image0
    type: io.kestra.plugin.notifications.discord.DiscordIncomingWebhook
    url: "{{ vars.discord_prompt_webhook }}"
    payload: |
      {
        "username": "Kestra",
        "content": "Pick an image by entering the image ID on the link",
        "embeds": [
          {
            "title": "Image 0",
            "url": "http://localhost:8082/ui/executions/{{flow.namespace}}/{{flow.id}}/{{execution.id}}",
            "image": {
              "url": "{{ outputs.gen_image.outputs.image0 }}"
            }  
          }
        ]
      }

  - id: send_image1
    type: io.kestra.plugin.notifications.discord.DiscordIncomingWebhook
    url: "{{ vars.discord_prompt_webhook }}"
    payload: |
      {
        "username": "Kestra",
        "content": "Pick an image by entering the image ID on the link",
        "embeds": [
          {
            "title": "Image 1",
            "url": "http://localhost:8082/ui/executions/{{flow.namespace}}/{{flow.id}}/{{execution.id}}",
            "image": {
              "url": "{{ outputs.gen_image.outputs.image1 }}"
            }  
          }
        ]
      }

  - id: send_image2
    type: io.kestra.plugin.notifications.discord.DiscordIncomingWebhook
    url: "{{ vars.discord_prompt_webhook }}"
    payload: |
      {
        "username": "Kestra",
        "content": "Pick an image by entering the image ID on the link",
        "embeds": [
          {
            "title": "Image 2",
            "url": "http://localhost:8082/ui/executions/{{flow.namespace}}/{{flow.id}}/{{execution.id}}",
            "image": {
              "url": "{{ outputs.gen_image.outputs.image2 }}"
            }  
          }
        ]
      }

  - id: wait_for_approval
    type: io.kestra.plugin.core.flow.Pause
    onResume:
      - id: pick
        description: Select the image you'd like 
        min: 0
        max: 2
        type: INT

  - id: send_final_image
    type: io.kestra.plugin.notifications.discord.DiscordIncomingWebhook
    url: "{{ vars.discord_announcement_webhook }}"
    payload: |
      {
        "username": "Kestra",
        "embeds": [
          {
            "title": "Final Image",
            "image": {
              "url": "{{ outputs.gen_image.outputs['image' ~ outputs.wait_for_approval.onResume.pick] }}"
            }  
          }
        ]
      }
