language-agnostic/cobol/cobol_ai.yml
id: cobol_ai
namespace: company.team

inputs:
  - id: prompt
    type: STRING
    defaults: "Write me a hello world program in Cobol"

tasks:
  - id: generate_cobol
    type: io.kestra.plugin.ai.agent.AIAgent
    prompt: "{{ inputs.prompt }}"
    systemMessage: "Save the Cobol program as `main.cbl` in the `/tmp` directory by using the provided filesystem tool."
    provider:
      type: io.kestra.plugin.ai.provider.Anthropic
      apiKey: "{{ secret('ANTHROPIC_API_KEY') }}"
      modelName: claude-sonnet-4-6
    tools:
      - type: io.kestra.plugin.ai.tool.DockerMcpClient
        image: mcp/filesystem
        command: ["/tmp"]
        binds: ["{{workingDir}}:/tmp"]
    outputFiles:
      - main.cbl

  - id: run_cobol
    type: io.kestra.plugin.scripts.shell.Commands
    inputFiles: "{{ outputs.generate_cobol.outputFiles }}"
    beforeCommands:
      - apt update -y
      - apt install -y gnucobol
    commands:
      - cobc -x main.cbl
      - ./main
