language-agnostic/cobol/cobol_ai.yml
id: cobol_ai
namespace: company.team

tasks:
  - id: generate_cobol_agent
    type: io.kestra.plugin.ai.agent.AIAgent
    prompt: "Write me a hello world program in Cobol"
    systemMessage: "Save the Cobol program as `hello.cbl` in the `/tmp` directory by using the provided filesystem tool."
    provider:
      type: io.kestra.plugin.ai.provider.Anthropic
      apiKey: "{{ kv('ANTHROPIC_API_KEY') }}"
      modelName: claude-sonnet-4-6
    tools:
      - type: io.kestra.plugin.ai.tool.DockerMcpClient
        image: mcp/filesystem
        command: ["/tmp"]
        binds: ["{{workingDir}}:/tmp"]
    outputFiles:
      - hello.cbl

  - id: run_cobol_ai
    type: io.kestra.plugin.scripts.shell.Commands
    inputFiles: "{{ outputs.generate_cobol_agent.outputFiles }}"
    beforeCommands:
      - apt update -y 
      - apt install -y gnucobol
    commands:
      - cobc -x hello.cbl
      - ./hello 
