youtube/youtube_to_git_event.yml
id: youtube_to_docs
namespace: kestra.product

variables:
  github_repo: kestra-io/docs
  yt_channel_id: UCMCsjAEnJXzGsg_IAZF8WHQ

triggers:
  - id: new_video_trigger
    type: io.kestra.plugin.youtube.VideoTrigger
    accessToken: "{{ credential('youtube-auth') }}"
    channelId: "{{ vars.yt_channel_id }}"
    interval: PT1H
    maxResults: 1

tasks:
  - id: ai_clean_up
    type: io.kestra.plugin.core.flow.Parallel
    tasks: 
      - id: get_category
        type: io.kestra.plugin.ai.agent.AIAgent
        prompt: "{{ trigger.title }}"
        systemMessage: "Using the title of the YouTube video, determine what category it should fall into out of these 3. Feature Highlight, Quick Start Tutorials, Deep Dive Tutorials. Return the category only."
        configuration:
          responseFormat:
            type: JSON
            jsonSchema:
              type: object
              required: ["category"]
              properties:
                category:
                  type: string
                  enum: ["Feature Highlight", "Quick Start Tutorials", "Deep Dive Tutorials",]

      - id: clean_description
        type: io.kestra.plugin.ai.agent.AIAgent
        prompt: "{{ trigger.description }}"
        systemMessage: "Clean the description of this video to only include a sentence or two. It should fix any weird formatting so it's just one line. Return only the newly updated description."
      
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repo
        type: io.kestra.plugin.git.Clone
        url: "https://github.com/{{ vars.github_repo }}"
        branch: main

      - id: create_yaml_file
        type: io.kestra.plugin.scripts.python.Script
        dependencies:
          - ruamel.yaml
        script: |
          from datetime import datetime
          from pathlib import Path
          from ruamel.yaml import YAML
          from ruamel.yaml.scalarstring import DoubleQuotedScalarString

          def find_tutorial_videos_dir() -> Path:
              tutorial_videos_dir = Path.cwd() / "src" / "contents" / "tutorial-videos"

              if tutorial_videos_dir.exists():
                  return tutorial_videos_dir

              raise FileNotFoundError(
                  f"Could not find tutorial videos directory at {tutorial_videos_dir}"
              )

          def next_video_file_path(tutorial_videos_dir: Path) -> Path:
              existing_numbers = []

              for path in tutorial_videos_dir.glob("*.yaml"):
                  try:
                      existing_numbers.append(int(path.stem))
                  except ValueError:
                      continue

              next_number = max(existing_numbers, default=0) + 1
              return tutorial_videos_dir / f"{next_number}.yaml"

          published_at = "{{ trigger.publishedAt }}"

          date_object = datetime.strptime(published_at, "%Y-%m-%dT%H:%M:%SZ")

          video = {
              "title": DoubleQuotedScalarString("{{ trigger.title }}"),
              "description": DoubleQuotedScalarString("""{{ outputs.clean_description.textOutput }}"""),
              "category": DoubleQuotedScalarString("{{ outputs.get_category.jsonOutput.category }}"),
              "author": DoubleQuotedScalarString("Kestra"),
              "url": DoubleQuotedScalarString("{{ trigger.videoUrl }}"),
              "publicationDate": DoubleQuotedScalarString(
                  date_object.strftime("%Y-%m-%dT00:00:00.000")
              ),
              "contentType": DoubleQuotedScalarString("{{ outputs.get_category.jsonOutput.category }}"),
          }

          yaml = YAML()
          yaml.default_flow_style = False
          yaml.preserve_quotes = True

          tutorial_videos_dir = find_tutorial_videos_dir()
          output_path = next_video_file_path(tutorial_videos_dir)

          with open(output_path, "w", encoding="utf-8") as file:
              yaml.dump(video, file)

      - id: commit
        type: io.kestra.plugin.scripts.shell.Commands
        containerImage: alpine/git
        commands:
          - git config --global --add safe.directory {{ outputs.clone_repo.directory }}
          - git config user.email "wrussell@kestra.io"
          - git config user.name "Will Russell"
          - git remote set-url origin "https://x-access-token:{{secret('GITHUB_ACCESS_TOKEN')}}@github.com/{{vars.github_repo}}.git"
          - git checkout -b new-video-{{ execution.id }}
          - git add src/contents/tutorial-videos
          - 'git commit -m "feat(video): {{ trigger.title }}"'
          - git push origin new-video-{{ execution.id }}

      - id: create_pull_request
        type: io.kestra.plugin.github.pulls.Create
        oauthToken: "{{ secret('GITHUB_ACCESS_TOKEN') }}"
        repository: "{{ vars.github_repo }}"
        sourceBranch: new-video-{{ execution.id }}
        targetBranch: main
        reviewers:
          - "akeller"
          - "aj-emerich"
        title: "feat(video): {{ trigger.title }}"
        body: "This PR adds a new YouTube video to the website. \n\nVideo URL: {{ trigger.videoUrl }}"

      - id: notify_slack
        type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
        url: "{{ secret('SLACK_WEBHOOK') }}"
        messageText: "A new YouTube video is ready to be added to the website: {{ trigger.videoUrl }}. Check out the PR: {{ outputs.create_pull_request.pullRequestUrl }}"

pluginDefaults:
  - type: io.kestra.plugin.ai.agent.AIAgent
    values:
      provider: 
        type: io.kestra.plugin.ai.provider.GoogleGemini
        modelName: gemini-3-flash-preview
        apiKey: "{{ secret('GEMINI_API_KEY') }}"