product-overview/2025/everything_from_ui.yml
id: everything_from_ui
namespace: company.team

inputs:
  - id: file_url
    type: STRING
    displayName: File URL
    defaults: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

tasks:
  - id: download
    type: io.kestra.plugin.core.http.Download
    uri: "{{ inputs.file }}"

  - id: upload
    type: io.kestra.plugin.googleworkspace.drive.Upload
    from: "{{ outputs.download.uri }}"
    contentType: "text/csv"
    name: "Orders"
    parents:
      - "1a2sg__7gizUTgGmezbfh0XtwNndaCOxf"
    mimeType: "application/vnd.google-apps.spreadsheet"
    serviceAccount: "{{ secret('GOOGLE_SA') }}"

  - id: notify
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    payload: |
      {
        "text": "New data available:  https://docs.google.com/spreadsheets/d/{{ outputs.upload.file.id }}"
      }
