product-overview/2025/everything_from_ui.yml
id: everything_from_ui
namespace: company.team

inputs:
  - id: file
    displayName: CSV File
    type: FILE

tasks:
  - id: upload
    type: io.kestra.plugin.googleworkspace.drive.Upload
    from: "{{ inputs.file }}"
    contentType: "text/csv"
    name: "Orders"
    parents:
      - "1nTsmmL3dMGNmxhU9UrE5UYGxh5LXbcNI"
    mimeType: "application/vnd.google-apps.spreadsheet"
    serviceAccount: "{{ secret('GOOGLE_SERVICE_ACCOUNT') }}"

  - id: notify
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    payload: |
      {
        "text": "New data available:  https://docs.google.com/spreadsheets/d/{{ outputs.upload.file.id }}"
      }
  
