infrastructure/kubernetes/create_pod.yml
id: create_pod
namespace: company.team

tasks:
  - id: create
    type: io.kestra.plugin.kubernetes.core.PodCreate
    delete: false
    metadata:
      labels:
        my-label: my-value
    spec:
      containers:
      - name: unittest
        image: debian:stable-slim
        command:
          - 'bash'
          - '-c'
          - 'for i in {1..10}; do echo $i; sleep 0.1; done'
      restartPolicy: Never

  - id: get
    type: io.kestra.plugin.kubernetes.kubectl.Get
    resourceType: pods
    fetchType: STORE

  - id: delete
    type: io.kestra.plugin.kubernetes.kubectl.Delete
    resourceType: pods
    resourcesNames:
      - "{{ outputs.create.metadata.name }}"

pluginDefaults:
  - forced: true
    type: io.kestra.plugin.kubernetes
    values:
      namespace: monitoring
      connection:
        masterUrl: "host.docker.internal:60480"
        oauthToken: "{{ secret('K8_TOKEN') }}"
        trustCerts: true
